<div style="font-size:10pt;font-weight:bold">Welcome Susanne!</div>
<div>
<div style="margin-bottom:3px;width:65%;background:#AA4444;height:3px"></div>
<div style="margin-bottom:3px;width:52%;background:#44AA44;height:3px"></div>
<div style="margin-bottom:3px;width:40%;background:#4444AA;height:3px"></div>
<div style="margin-bottom:3px;width:70%;background:#AAAA44;height:3px"></div>
</div>
<div style="font-size:10pt"  > Your are not in a very good mood!</div>

<!--<div class="d-flex justify-content-center ">
   <fa-icon [icon]="faFrown"></fa-icon><input type="range" class="custom-range" id="customRange1" style="margin-left:8px;margin-right:8px;">  <fa-icon [icon]="faSmile"></fa-icon>
  </div> -->
