<div *ngIf="slideNumber==1">
  <div style="background:#AAAAAA;border-style: none;border-radius:20px;margin:8px;padding:8px">
Your appointments today!
 08-10: CT Erlangen Hospital
 16-18: Meet Mummy <#
  </div>
</div>
<div *ngIf="slideNumber==2">
  <div style="background:#AAAAAA;border-style: none;border-radius:20px;margin:8px;padding:8px">
  You are running out of Medication. Please Buy!
  </div>
</div>
<div *ngIf="slideNumber==3">
  <div style="background:#AAAAAA;border-style: none;border-radius:20px;margin:8px;padding:8px">
  Test3
  </div>
</div>
<div *ngIf="slideNumber==4">
 non
</div>
<div *ngIf="slideNumber==5">

</div>
